<section id="projects" class="">
    <h1>Personal Projects</h1>
</section>
<style>
    h1 {
        color: white;
    }
    section {
        margin: 0 auto;
        background-color:black;
        height: 100rem;
    }
</style>