---
const black = "#060606";
const aboutContain = await Astro.glob("../../content/about/about.md")
const { title , description } = aboutContain[0].frontmatter;
---
<section id="about">
    <div class="contain contenedor">
        <h1 class="heading">{ title }</h1>
        <p class="description">
            { description }
        </p>
    </div>
</section>
<style define:vars={{black}}>
    #about {
        background-color: var(--black);
        height: 50rem;
        display: flex;
        align-items: center;
    }
    .contain {
        display: grid;
    }
    .heading {
        color: white;
        font-size: 4rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 3rem;
    }
    .description {
        color: white;
        font-size: 1.7rem;
        line-height: 1.9;
    }   
    /*--------------- Responsive Design ------------*/
    @media only screen and (min-width: 768px) {
        .contain {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: none;
            gap: 2rem;
        }
        .heading {
            font-size: 7.2rem;
            text-transform: uppercase;
            margin: 0;
        }
        .description {
            font-size: 2rem;
        } 
    }
</style>
