---
import { Image } from "astro:assets";


---

<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML logo" loading="lazy" inferSize/>
    <p class="logo__name">HTML</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS logo" loading="lazy" inferSize/>
    <p class="logo__name">CSS</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript logo" loading="lazy" inferSize/>
    <p class="logo__name">JS</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" alt="React logo" loading="lazy" inferSize/>
    <p class="logo__name">React</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redux/redux-original.svg" alt="Redux logo" loading="lazy" inferSize/>
    <p class="logo__name">Redux</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" alt="SASS logo" loading="lazy" inferSize/>
    <p class="logo__name">SASS</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain.svg" alt="Firebase logo" loading="lazy" inferSize/>
    <p class="logo__name">Firebase</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="GIT logo" loading="lazy" inferSize/>
    <p class="logo__name">GIT</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jest/jest-plain.svg" alt="Jest logo" loading="lazy" inferSize/>
    <p class="logo__name">Jest</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg" alt="NPM logo" loading="lazy" inferSize/>
    <p class="logo__name">NPM</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML logo" loading="lazy" inferSize/>
    <p class="logo__name">HTML</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS logo" loading="lazy" inferSize/>
    <p class="logo__name">CSS</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript logo" loading="lazy" inferSize/>
    <p class="logo__name">JS</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" alt="React logo" loading="lazy" inferSize/>
    <p class="logo__name">React</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redux/redux-original.svg" alt="Redux logo" loading="lazy" inferSize/>
    <p class="logo__name">Redux</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" alt="SASS logo" loading="lazy" inferSize/>
    <p class="logo__name">SASS</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain.svg" alt="Firebase logo" loading="lazy" inferSize/>
    <p class="logo__name">Firebase</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="GIT logo" loading="lazy" inferSize/>
    <p class="logo__name">GIT</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jest/jest-plain.svg" alt="Jest logo" loading="lazy" inferSize/>
    <p class="logo__name">Jest</p>
</div>
<div class="logo">
    <Image src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg" alt="NPM logo" loading="lazy" inferSize/>
    <p class="logo__name">NPM</p>
</div>

<style lang="scss" >
    :root {
        --widthLogoMobile: 5rem;
        --widthLogoDesktop: 7rem;
        --marginLogoMobile: 4rem;
        --marginLogoDesktop: 5rem;
    }

    img {
        display: inline-block;
        width: var(--widthLogoMobile);
    }
    .logo {
        width: var(--widthLogoMobile);
        margin-right: var(--marginLogoMobile);

        &__name {
            margin: 0;
            text-align: center;
        }
    }

    /*----------- Responsive Design -----------*/
    @media screen and (width >= 768px) {
        img {
            width: var(--widthLogoDesktop);
        }
        .logo {
            width: var(--widthLogoDesktop);
            margin-right: var(--marginLogoDesktop);
        }
    }
</style>