---

---
<section id="contact">
    <h1 class="heading">Contact</h1>
</section>

<style lang="scss">
    .heading {
        font-size: 4rem;
        text-transform: uppercase;
        color: white;
        text-align: center;
    }

    // Responsive Design
    @media screen and (width >= 768px) {
        .heading {
            font-size: 7.2rem;
            margin-bottom: 3rem;
        }
    }
    @media screen and (width >= 1028px) {
        .heading {
            margin-top: 4rem;
        }
    }
</style>