---
import LogoIcon from "./LogoIcon.astro";

const blue = "#0085ff";
const blueDown = "#69b4ff";
const black = "#060606";
const grey = "#313d44";
---
<div class="navbar">
    <a href="#" class="logo">
        <LogoIcon />
    </a>
    <div class="nav">
        <div class="nav__icon">
            <svg button-menu-open class="nav__icon--svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
            </svg>
            
            <svg button-menu-close class="nav__icon--svg hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
              
        </div>

        <div data-nav-contain class="nav__contain hidden">
            <nav>
                <ul class="nav-items">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#about">About Me</a>
                    </li>
                    <li>
                        <a href="#projects">Personal Projects</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
            <button>CV</button> 
        </div>
    </div>
</div>

<script>
    const buttonMenu: object | null = document.querySelector("[button-menu-open]");
    const buttonMenuClose: object | null = document.querySelector("[button-menu-close]");
    let menu: object | null = document.querySelector("[data-nav-contain]");

    const displayMenu = () => {
        menu.classList.toggle("hidden");
        buttonMenuClose.classList.toggle("hidden");
        buttonMenu.classList.toggle("hidden");
    };
    const closeMenu = () => {
        menu.classList.toggle("hidden");
        buttonMenu.classList.toggle("hidden");
        buttonMenuClose.classList.toggle("hidden");
    }

    buttonMenu.addEventListener("click", displayMenu )
    buttonMenuClose.addEventListener("click", closeMenu )
</script>

<style lang="scss" define:vars={{blue, blueDown, black, grey}}>
    .navbar {
        max-width: 120rem;
        width: 95%;
        padding-block: 3.2rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        font-size: 1.8rem;
        position: fixed;
        top: 0;
        border-radius: 1rem;
        z-index: 2;

        /* animation: scroll-nav auto linear;
        animation-timeline: scroll(root block); */
    }
    .nav {
        display: flex;
        flex-direction: column;
        
        &__contain {
            margin-top: 2rem;
            padding: 2rem;
            background-color: var(--grey);
            border-radius: 1rem;
        }

        &__icon--svg {
            max-width: 5rem;
            display: block;
            margin-left: 60%;
        }
    }
    .hidden {
        margin-left: 300%;
    }
    .nav-items {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        & li {
            display: block;
            list-style: none;
            transition-property: color;
            transition-duration: .2s;
        }
    }
    .navbar ul li:hover {
        cursor: pointer;
        color: var(--blue);
    }

    button {
        display: block;
        width: 100%;
        color: white;
        cursor: pointer;
        font-size: 1.6rem;
        margin-top: 3rem;
        padding-block: 1rem;
        padding-inline: 1rem;
        border: none;
        border-radius: .4rem;
        background-color: var(--blue);
        transition: background-color .3s;

        &:hover {
            color: var(--blue);
            background-color: white;
        }
    }
    /*--------------- Animation ---------------------*/
    @keyframes scroll-nav {
        from {
            background-color: rgba(182, 204, 216, 0);
        }
        to {
            background-color: rgba(182, 204, 216, 0.2);
        }
    }
    /*--------------- Responsive Design ----------------*/
    @media only screen and (min-width: 768px) {
        .navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: white;
            font-size: 1.8rem;
            padding-block: 3.2rem;
            position: fixed;
            top: 0%;
        }
        button {
            display: block;
            padding-block: 1rem;
            padding-inline: 3rem;
        }
        .navbar ul {
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 3rem;
            margin: 0rem;
        }
    }

</style>