---
import HeaderContain from "./HeaderContain.astro";
import Navbar from "./Navbar.astro";

---
<header>
    <div class="contenedor">
        <Navbar/>
        <HeaderContain />
    </div>
</header>

<style>
    
    header {
        height: 100vh;
        background-color: var(--black);
        margin: 0;
    }
</style>