---
const bluePro: string = "#0085ff";
---
<p class="footer">
    Made with <a href="https://astro.build/" target="_blank">Astro</a>.
</p>

<style define:vars={{ bluePro }}>
    .footer {
        color: white;
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 5rem;
    }
    a {
        display: inline-block;
        text-decoration: underline;
        color: var(--bluePro);
    }
</style>